.section1,
.section2 {
    display: flex;
gap: 30px;

}

#checkbox {
    width: 4rem;
    padding: 10px 7px;
    background-color: var(--action-bg);
}


#icCard {
    width: 40%;
    background-color: var(--action-bg);
    box-shadow: none;
    cursor: auto;
    padding: 0 8px;
}
