:root {
    --color-primiry: #F6E05E;
    --action-bg: #F2F2F2;
    --primiry-btn: #8338EC;
    --component-bg: #F1F3F5;
}

*,
**:after,
**::before {
    box-sizing: border-box;
}

.container {
    Width: 100%;
    max-height: 100vh;
    background-color: #F5F3E7;
    display: flex;
    flex-direction: column;
    position: absolute;

}

.action-btn {
    display: flex;
    margin: 5px auto;
}

.action-btn>button {
    width: 123px;
    padding: 10px 19px;
    margin-left: 10px;
    height: 40px;
}

.action-btn .btn-primary {
    background-color: var(--primiry-btn);
    color: white;
}

.menu-btn {
    width: 60%;
    height: auto;
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    margin: 10px auto;
    border-radius: 15px;
}

.section1,
.section2 {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    margin: 10px 5px;
}

.btn {
    padding: .5rm .7rm;
    /* padding: 10px 22px; */
    border-radius: 3px;
    color: black;
    border: none;
    outline: none;
    box-shadow: 0px 5px 11.6px 2.49px rgba(211, 211, 211, 0.3);
    font-size: 10px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

#checkbox {
    width: 4rem;
    padding: 10px 7px;
    background-color: var(--action-bg);
}

.btn-secondry {
    background-color: var(--color-primiry);
}

.input-field {
    background-color: var(--action-bg);
    width: 50%;
    box-shadow: none;
    cursor: auto;
}

#icCard {
    width: 40%;
    background-color: var(--action-bg);
    box-shadow: none;
    cursor: auto;
}

.btn-s2 {
    padding: .7rem;
    border-radius: 5px;
    color: black;
    border: none;
    outline: none;
    box-shadow: 0px 5px 11.6px 2.49px rgba(211, 211, 211, 0.3);
    font-size: 10px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

.bgs2 {
    background-color: #FF9F99;
}

.exits2 {
    background-color: var(--primiry-btn);
    color: white;
}

/* Port status. */

.statusContainer {
    width: 95%;
    height: 40vh;
    background-color: white;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 10px 10px;
    overflow-y: scroll;
}

.port-status {
    min-width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    /* grid-template-columns: repeat(15, auto);
    grid-template-rows: repeat(auto, auto); */
    gap: 1px;

}



.status {
    width: 70px;
    height: 40px;
    background-color: #F1F3F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}

.status>* {
    font-size: 9px;
    margin-top: 10px;
    color: black;
    padding: 0 2px;
    text-align: center;
    font-weight: bold;
}

.status>p {
    margin: 0;
    margin-top: 5px;
    font-size: 15;
}

#lockernumber {
    text-align: center;
    font-weight: bold;

}

.lockopen {
    background-color: #F6E05E;
}


/* Logs */

.logs {
    width: 100%;
    height: auto;
    background-color: #F5F3E7;
    position: relative;
    bottom: 0px;
    z-index: 99;
}

.logs::before {
    margin: 10px auto;
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: #F6E05E;
}




.log {
    margin: 1px auto;
    width: 100%;
    height: 150px;
    overflow-y: scroll;
}

.log>p {
    /* padding: 20px 14px; */
    margin: 5px 10px;
}


/* Loadboard */

.lockboard {
    height: 150px;
    /* padding: 10px 5px; */
    margin: 20px 0;
}

.lockboard-testing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    width: 70%;
    min-height: 150px;
    margin: 10px auto;
    border-radius: 5px;

}

.action {
    display: flex;
    width: 90%;
    margin: 10px auto;
    align-items: flex-end;
    padding: 18px 10px;
    justify-content: space-evenly;
}

/* title */
#title {
    font-size: 10px;
    font-weight: bold;
    margin: 6px 9px;
    /* margin: 0; */

}